/* Debug Block */
/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
} */

html,
body {
	position: fixed;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#main {
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#app {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
